# Please duplicate this file to ".env.local" for local development
# set the value(s) below to match the CDK/CloudFormation outputs.
# In the deployed application, these values will be automatically set.
VITE_WEBSOCKET_URL=""
VITE_REST_API_URL=""
VITE_API_KEY=""
